<h3>Add Your Comment</h3>
<%= form_with model: Comment.new do |form| %>
  <div><%= form.hidden_field :recipe_id, value: @recipe.id %></div>
  <div><%= form.hidden_field :user_id, placeholder:'Title', value: session[:signed_in_user_id] %></div>
  <div>Title: <%= form.text_field :title %></div></br>
  <div>Content: <%= form.text_area :description, size: "24x3" %></div> 
  <div><%= form.submit 'Submit' %></div>
<% end %>

