<h2><%= @recipe.title.titleize %></h2>

<div>
  <div><%= image_tag @recipe.img_url %></div></br>
  <div><strong>Cook Time: </strong><%= @recipe.cook_time %></div></br>
  <div><strong>Ingredients: </strong><%= @recipe.ingredient %></div></br>
  <div><strong>Instructions: </strong><%= @recipe.instruction %></div></br>
  <div><strong>Created By: </strong><%= @recipe.user.username %></div></br>
  <div><strong>Comments: </strong><% @recipe.comments.each do |comment| %>
                <div><%= link_to comment.user.username, users_path %>
                    <i>"<%= comment.title %>"</i>
                    <div><%= comment.description %></div>
                </div>
            <% end %>
  </div></br>
  <div><%= link_to 'New Comment', new_comment_path %></div>

</div></br>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
