<h1>New User</h1>

<%= form_with model: User.new do |f| %>
    <%= f.text_field :username, placeholder: 'username' %>
    <%= f.password_field :password_digest, placeholder: 'password' %>
    <%= f.password_field :password_digest_confirmation, placeholder: 'confirm password' %>
<% end %>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
