<p class="text-right"><%= link_to 'Back to Users', users_path %></p>

<div class="container text-center">
  <div><%= image_tag @user.img_url, :class=> "img-circular" %></div>
  <div><h2><%= @user.username %></h2></div>
  <div>Location: <%= @user.location %></div>
  <div>Owned Recipe(s): <% @user.recipes.each do |recipe| %>
          <div><%= link_to (image_tag recipe.img_url, size: "210x200"), recipe %></div>
          <div><%= link_to recipe.title, recipe %></div>
          <div><%= link_to 'Edit This Recipe', edit_recipe_path(recipe) %></div></br>
       <% end %></div>

</div></br>
