<!DOCTYPE html>
<html>
  <head>
    <title>FoodieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @logged_in_user.id == nil%>
      <%= link_to 'Sign In', new_session_path %>
      <%= link_to 'Sign Up', new_user_path %>
    <% else %>
      <%= link_to "Log Out", '/sessions' , method: "delete" %>
      <%= link_to 'Profile', user_path(@logged_in_user) %>
    <% end %>
    <p>Welcome, <%= @logged_in_user.name %></p>
    <%= yield %>
  </body>
</html>
