<!DOCTYPE html>
<html>
  <head>
    <title>FoodieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @logged_in_user.id == nil%>
      <p class="text-right">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to 'Sign In', new_session_path %>
        </button>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to 'Sign Up', new_user_path %>
        </button>
      </p>
    <% else %>
      <p class="text-right">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to 'Profile', user_path(@logged_in_user) %>
        </button>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to "Log Out", '/sessions' , method: "delete" %>
          </button>
      </p>
    <% end %>
    <p class="text-right"> Welcome, <%= @logged_in_user.name %></h4></p>
    <%= yield %>
  </body>
</html>
